.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: black;
  /* background-image: radial-gradient(circle at left bottom, rgb(0, 0, 0) 47.00%,rgb(55, 13, 13) 100.00%); */
}
.home-header {
  color: #E82F52;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  position: relative;
  max-width: auto;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-image {
  height: 50pt;
  align-self: center;
}
.home-text {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link {
  color: #FFE77B;
  font-size: 20px;
  text-decoration: none;
}
.home-link:hover {
  text-decoration: underline;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image1 {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container03 {
  display: flex;
  position: relative;
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-text05 {
  color: #FFE77B;
  font-size: 2.5em;
  max-width: 450px;
}
.home-text06 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  max-width: 550pt;
  align-self: flex-start;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image2 {
  width: 400pt;
  object-fit: cover;
}
.home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  flex-direction: column;
}
.home-text10 {
  color: #FFE77B;
  font-size: 2.5rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container04 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  max-width: 1200pt;
  grid-template-columns: 1fr 1fr;
}
.home-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon10 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.home-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text11 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text14 {
  color: rgb(255, 255, 255);
}
.home-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon12 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.home-container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text15 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text16 {
  color: #ffffff;
}
.home-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon14 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.home-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text17 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text18 {
  color: rgb(255, 255, 255);
}
.home-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon17 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.home-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text21 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text22 {
  color: rgb(255, 255, 255);
}
.home-contact-us {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container09 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.home-text23 {
  color: rgb(255, 231, 123);
  font-size: 2.5em;
  max-width: 450px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-link1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
}
.home-text24 {
  color: #ffe77b;
  font-size: 35px;
  max-width: 550pt;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
}
.home-form {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  max-width: 300pt;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-textinput {
  color: #ffffff;
  margin: var(--dl-space-space-halfunit);
  align-self: stretch;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #272727;
}
.home-textinput1 {
  color: #ffffff;
  margin: var(--dl-space-space-halfunit);
  align-self: stretch;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #272727;
}
.home-textarea {
  color: #ffffff;
  margin: var(--dl-space-space-halfunit);
  align-self: stretch;
  min-height: 100pt;
  border-width: 0px;
  padding-left: 1rem;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 1rem;
  background-color: #272727;
}
.home-button {
  color: rgb(255, 255, 255);
  margin: var(--dl-space-space-halfunit);
  align-self: stretch;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(232, 47, 82);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-text28 {
  color: var(--dl-color-gray-700);
}
.home-navlink {
  color: var(--dl-color-gray-700);
  transition: 0.3s;
  text-decoration: none;
}
.home-navlink:hover {
  text-decoration: underline;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-container03 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-text05 {
    text-align: center;
  }
  .home-text06 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-contact-us {
    flex-direction: column;
  }
  .home-container09 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-text23 {
    text-align: center;
  }
  .home-text24 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text06 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image2 {
    width: 80%;
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container04 {
    grid-template-columns: 1fr;
  }
  .home-feature-card {
    flex-direction: row;
  }
  .home-container05 {
    flex-direction: column;
  }
  .home-feature-card1 {
    flex-direction: row;
  }
  .home-container06 {
    flex-direction: column;
  }
  .home-feature-card2 {
    flex-direction: row;
  }
  .home-container07 {
    flex-direction: column;
  }
  .home-feature-card3 {
    flex-direction: row;
  }
  .home-container08 {
    flex-direction: column;
  }
  .home-contact-us {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text24 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text28 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container03 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container05 {
    flex-direction: column;
  }
  .home-container06 {
    flex-direction: column;
  }
  .home-container07 {
    flex-direction: column;
  }
  .home-container08 {
    flex-direction: column;
  }
  .home-contact-us {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container09 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text28 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
