.privacy-policy-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: radial-gradient(circle at left bottom, rgb(0, 0, 0) 61.00%,rgb(55, 13, 13) 100.00%);
}
.privacy-policy-container1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: column;
}
.privacy-policy-text {
  color: rgb(255, 255, 255);
}
.privacy-policy-text01 {
  color: #ffffff;
}
.privacy-policy-text02 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text03 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text04 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text05 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text06 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text07 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text08 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text09 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text10 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text11 {
  color: rgb(255, 255, 255);
}
.privacy-policy-ul {
  margin: 0px;
  list-style-type: circle;
  list-style-image: none;
}
.privacy-policy-li {
  color: #ffffff;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.privacy-policy-li1 {
  color: #ffffff;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.privacy-policy-li2 {
  color: #ffffff;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.privacy-policy-li3 {
  color: #ffffff;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.privacy-policy-li4 {
  color: #ffffff;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.privacy-policy-li5 {
  color: #ffffff;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.privacy-policy-li6 {
  color: #ffffff;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.privacy-policy-text19 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text20 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text21 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text22 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text23 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text24 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text25 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text26 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text27 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text28 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text29 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text30 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text31 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text32 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text33 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text34 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text35 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text36 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text37 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text38 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text39 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text40 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text41 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text42 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text43 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text44 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text45 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text46 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text47 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text48 {
  color: rgb(255, 255, 255);
}
.privacy-policy-text49 {
  color: rgb(255, 255, 255);
}

@media(max-width: 767px) {
  .privacy-policy-container1 {
    padding: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .privacy-policy-container1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}